---
name: home
layout: home
---

# Prototipo en construcción

Esta plataforma es un ejercicio exploratorio para probar posibles estructuras de organización y navegación de la obra de Rosemberg Sandoval. Bajo la premisa Muerte, Dolor, Violencia, Marginalidad, este prototipo busca mapear cómo los ejes conceptuales de su trabajo (el cuerpo profanado, el espacio degradado y la memoria del dolor) pueden traducirse en una arquitectura digital coherente.

No es un archivo definitivo, sino una aproximación de clasificación. Se prueba aquí cómo relacionar registros visuales para revelar conexiones conceptuales entre sus performances. Este es un primer acercamiento técnico y conceptual, un modelo en construcción para entender cómo diseñar un sistema digital coherente con la radicalidad de Sandoval.