---
name: pages
layout: page
---

<script>
  import SearchBar from '$components/SearchBar.svelte';
  import Gallery from '$components/Gallery.svelte';
</script>

# Descubre la colección

Utiliza las visualizaciones interactivas para navegar y conectar las obras de la colección.

<SearchBar />
<Gallery filters={["label", "autor"]}/>