---
name: credits
layout: page
---

# Créditos

_Desarrollo y Curaduría Digital:_ Juan Echeverria

_Imágenes y Metadatos:_ Cortesía de Rosemberg Sandoval

_Plataforma:_ Basada en la plantilla Serie Mini, para la creación de colecciones digitales, creada por Sergio Rodríguez Gómez.